[submodule "templates/barbershop-templates"]
	path = templates/barbershop-templates
	url = https://github.com/BTY-Technology/barbershop-templates.git
[submodule "templates/restaurant-templates"]
	path = templates/restaurant-templates
	url = https://github.com/BTY-Technology/restaurant-templates.git
